<div>
  <h2 id="page-heading" data-cy="TranferDetailsApprovalsHeading">
    <span jhiTranslate="aquigenBioApp.tranferDetailsApprovals.home.title">Tranfer Details Approvals</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="aquigenBioApp.tranferDetailsApprovals.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tranfer-details-approvals"
        [routerLink]="['/tranfer-details-approvals/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="aquigenBioApp.tranferDetailsApprovals.home.createLabel"> Create a new Tranfer Details Approvals </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="tranferDetailsApprovals?.length === 0">
    <span jhiTranslate="aquigenBioApp.tranferDetailsApprovals.home.notFound">No tranferDetailsApprovals found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="tranferDetailsApprovals && tranferDetailsApprovals.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="approvalDate">
            <span jhiTranslate="aquigenBioApp.tranferDetailsApprovals.approvalDate">Approval Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="qtyRequested">
            <span jhiTranslate="aquigenBioApp.tranferDetailsApprovals.qtyRequested">Qty Requested</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="qtyApproved">
            <span jhiTranslate="aquigenBioApp.tranferDetailsApprovals.qtyApproved">Qty Approved</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="comment">
            <span jhiTranslate="aquigenBioApp.tranferDetailsApprovals.comment">Comment</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="freeField1">
            <span jhiTranslate="aquigenBioApp.tranferDetailsApprovals.freeField1">Free Field 1</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="freeField2">
            <span jhiTranslate="aquigenBioApp.tranferDetailsApprovals.freeField2">Free Field 2</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModified">
            <span jhiTranslate="aquigenBioApp.tranferDetailsApprovals.lastModified">Last Modified</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModifiedBy">
            <span jhiTranslate="aquigenBioApp.tranferDetailsApprovals.lastModifiedBy">Last Modified By</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="isDeleted">
            <span jhiTranslate="aquigenBioApp.tranferDetailsApprovals.isDeleted">Is Deleted</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="isActive">
            <span jhiTranslate="aquigenBioApp.tranferDetailsApprovals.isActive">Is Active</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="transfer.id">
            <span jhiTranslate="aquigenBioApp.tranferDetailsApprovals.transfer">Transfer</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tranferDetailsApprovals of tranferDetailsApprovals; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/tranfer-details-approvals', tranferDetailsApprovals.id, 'view']">{{ tranferDetailsApprovals.id }}</a>
          </td>
          <td>{{ tranferDetailsApprovals.approvalDate | formatMediumDatetime }}</td>
          <td>{{ tranferDetailsApprovals.qtyRequested }}</td>
          <td>{{ tranferDetailsApprovals.qtyApproved }}</td>
          <td>{{ tranferDetailsApprovals.comment }}</td>
          <td>{{ tranferDetailsApprovals.freeField1 }}</td>
          <td>{{ tranferDetailsApprovals.freeField2 }}</td>
          <td>{{ tranferDetailsApprovals.lastModified | formatMediumDatetime }}</td>
          <td>{{ tranferDetailsApprovals.lastModifiedBy }}</td>
          <td>{{ tranferDetailsApprovals.isDeleted }}</td>
          <td>{{ tranferDetailsApprovals.isActive }}</td>
          <td>
            <div *ngIf="tranferDetailsApprovals.transfer">
              <a [routerLink]="['/transfer', tranferDetailsApprovals.transfer?.id, 'view']">{{ tranferDetailsApprovals.transfer?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/tranfer-details-approvals', tranferDetailsApprovals.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/tranfer-details-approvals', tranferDetailsApprovals.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(tranferDetailsApprovals)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="tranferDetailsApprovals && tranferDetailsApprovals.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
