<div>
  <h2 id="page-heading" data-cy="ProductTransactionHeading">
    <span jhiTranslate="aquigenBioApp.productTransaction.home.title">Product Transactions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="aquigenBioApp.productTransaction.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-product-transaction"
        [routerLink]="['/product-transaction/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="aquigenBioApp.productTransaction.home.createLabel"> Create a new Product Transaction </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="productTransactions?.length === 0">
    <span jhiTranslate="aquigenBioApp.productTransaction.home.notFound">No productTransactions found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="productTransactions && productTransactions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="qtySold">
            <span jhiTranslate="aquigenBioApp.productTransaction.qtySold">Qty Sold</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="pricePerUnit">
            <span jhiTranslate="aquigenBioApp.productTransaction.pricePerUnit">Price Per Unit</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lotNumber">
            <span jhiTranslate="aquigenBioApp.productTransaction.lotNumber">Lot Number</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="expirydate">
            <span jhiTranslate="aquigenBioApp.productTransaction.expirydate">Expirydate</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="totalAmount">
            <span jhiTranslate="aquigenBioApp.productTransaction.totalAmount">Total Amount</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="gstAmount">
            <span jhiTranslate="aquigenBioApp.productTransaction.gstAmount">Gst Amount</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="aquigenBioApp.productTransaction.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModified">
            <span jhiTranslate="aquigenBioApp.productTransaction.lastModified">Last Modified</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModifiedBy">
            <span jhiTranslate="aquigenBioApp.productTransaction.lastModifiedBy">Last Modified By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="warehouse.id">
            <span jhiTranslate="aquigenBioApp.productTransaction.warehouse">Warehouse</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="productInventory.id">
            <span jhiTranslate="aquigenBioApp.productTransaction.productInventory">Product Inventory</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let productTransaction of productTransactions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/product-transaction', productTransaction.id, 'view']">{{ productTransaction.id }}</a>
          </td>
          <td>{{ productTransaction.qtySold }}</td>
          <td>{{ productTransaction.pricePerUnit }}</td>
          <td>{{ productTransaction.lotNumber }}</td>
          <td>{{ productTransaction.expirydate | formatMediumDatetime }}</td>
          <td>{{ productTransaction.totalAmount }}</td>
          <td>{{ productTransaction.gstAmount }}</td>
          <td>{{ productTransaction.description }}</td>
          <td>{{ productTransaction.lastModified | formatMediumDatetime }}</td>
          <td>{{ productTransaction.lastModifiedBy }}</td>
          <td>
            <div *ngIf="productTransaction.warehouse">
              <a [routerLink]="['/warehouse', productTransaction.warehouse?.id, 'view']">{{ productTransaction.warehouse?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="productTransaction.productInventory">
              <a [routerLink]="['/product-inventory', productTransaction.productInventory?.id, 'view']">{{
                productTransaction.productInventory?.id
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/product-transaction', productTransaction.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/product-transaction', productTransaction.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(productTransaction)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="productTransactions && productTransactions.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
