<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-purchase-order-details-heading"
        data-cy="PurchaseOrderDetailsCreateUpdateHeading"
        jhiTranslate="aquigenBioApp.purchaseOrderDetails.home.createOrEditLabel"
      >
        Create or edit a Purchase Order Details
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="aquigenBioApp.purchaseOrderDetails.qtyordered" for="field_qtyordered">Qtyordered</label>
          <input
            type="number"
            class="form-control"
            name="qtyordered"
            id="field_qtyordered"
            data-cy="qtyordered"
            formControlName="qtyordered"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="aquigenBioApp.purchaseOrderDetails.gstTaxPercentage" for="field_gstTaxPercentage"
            >Gst Tax Percentage</label
          >
          <input
            type="number"
            class="form-control"
            name="gstTaxPercentage"
            id="field_gstTaxPercentage"
            data-cy="gstTaxPercentage"
            formControlName="gstTaxPercentage"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="aquigenBioApp.purchaseOrderDetails.pricePerUnit" for="field_pricePerUnit"
            >Price Per Unit</label
          >
          <input
            type="number"
            class="form-control"
            name="pricePerUnit"
            id="field_pricePerUnit"
            data-cy="pricePerUnit"
            formControlName="pricePerUnit"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="aquigenBioApp.purchaseOrderDetails.totalPrice" for="field_totalPrice">Total Price</label>
          <input
            type="number"
            class="form-control"
            name="totalPrice"
            id="field_totalPrice"
            data-cy="totalPrice"
            formControlName="totalPrice"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="aquigenBioApp.purchaseOrderDetails.lastModified" for="field_lastModified"
            >Last Modified</label
          >
          <div class="d-flex">
            <input
              id="field_lastModified"
              data-cy="lastModified"
              type="datetime-local"
              class="form-control"
              name="lastModified"
              formControlName="lastModified"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div
            *ngIf="editForm.get('lastModified')!.invalid && (editForm.get('lastModified')!.dirty || editForm.get('lastModified')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('lastModified')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('lastModified')?.errors?.ZonedDateTimelocal"
              jhiTranslate="entity.validation.ZonedDateTimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="aquigenBioApp.purchaseOrderDetails.lastModifiedBy" for="field_lastModifiedBy"
            >Last Modified By</label
          >
          <input
            type="text"
            class="form-control"
            name="lastModifiedBy"
            id="field_lastModifiedBy"
            data-cy="lastModifiedBy"
            formControlName="lastModifiedBy"
          />
          <div
            *ngIf="
              editForm.get('lastModifiedBy')!.invalid && (editForm.get('lastModifiedBy')!.dirty || editForm.get('lastModifiedBy')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('lastModifiedBy')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="aquigenBioApp.purchaseOrderDetails.freeField1" for="field_freeField1">Free Field 1</label>
          <input
            type="text"
            class="form-control"
            name="freeField1"
            id="field_freeField1"
            data-cy="freeField1"
            formControlName="freeField1"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="aquigenBioApp.purchaseOrderDetails.freeField2" for="field_freeField2">Free Field 2</label>
          <input
            type="text"
            class="form-control"
            name="freeField2"
            id="field_freeField2"
            data-cy="freeField2"
            formControlName="freeField2"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="aquigenBioApp.purchaseOrderDetails.freeField3" for="field_freeField3">Free Field 3</label>
          <input
            type="text"
            class="form-control"
            name="freeField3"
            id="field_freeField3"
            data-cy="freeField3"
            formControlName="freeField3"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="aquigenBioApp.purchaseOrderDetails.freeField4" for="field_freeField4">Free Field 4</label>
          <input
            type="text"
            class="form-control"
            name="freeField4"
            id="field_freeField4"
            data-cy="freeField4"
            formControlName="freeField4"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="aquigenBioApp.purchaseOrderDetails.purchaseOrder" for="field_purchaseOrder"
            >Purchase Order</label
          >
          <select
            class="form-control"
            id="field_purchaseOrder"
            data-cy="purchaseOrder"
            name="purchaseOrder"
            formControlName="purchaseOrder"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                purchaseOrderOption.id === editForm.get('purchaseOrder')!.value?.id
                  ? editForm.get('purchaseOrder')!.value
                  : purchaseOrderOption
              "
              *ngFor="let purchaseOrderOption of purchaseOrdersSharedCollection; trackBy: trackPurchaseOrderById"
            >
              {{ purchaseOrderOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="aquigenBioApp.purchaseOrderDetails.product" for="field_product">Product</label>
          <select class="form-control" id="field_product" data-cy="product" name="product" formControlName="product">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="productOption.id === editForm.get('product')!.value?.id ? editForm.get('product')!.value : productOption"
              *ngFor="let productOption of productsSharedCollection; trackBy: trackProductById"
            >
              {{ productOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="aquigenBioApp.purchaseOrderDetails.unit" for="field_unit">Unit</label>
          <select class="form-control" id="field_unit" data-cy="unit" name="unit" formControlName="unit">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="unitOption.id === editForm.get('unit')!.value?.id ? editForm.get('unit')!.value : unitOption"
              *ngFor="let unitOption of unitsSharedCollection; trackBy: trackUnitById"
            >
              {{ unitOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
