<div>
  <h2 id="page-heading" data-cy="ProductInventoryHeading">
    <span jhiTranslate="aquigenBioApp.productInventory.home.title">Product Inventories</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="aquigenBioApp.productInventory.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-product-inventory"
        [routerLink]="['/product-inventory/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="aquigenBioApp.productInventory.home.createLabel"> Create a new Product Inventory </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="productInventories?.length === 0">
    <span jhiTranslate="aquigenBioApp.productInventory.home.notFound">No productInventories found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="productInventories && productInventories.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="inwardOutwardDate">
            <span jhiTranslate="aquigenBioApp.productInventory.inwardOutwardDate">Inward Outward Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="inwardQty">
            <span jhiTranslate="aquigenBioApp.productInventory.inwardQty">Inward Qty</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="outwardQty">
            <span jhiTranslate="aquigenBioApp.productInventory.outwardQty">Outward Qty</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="totalQuanity">
            <span jhiTranslate="aquigenBioApp.productInventory.totalQuanity">Total Quanity</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="pricePerUnit">
            <span jhiTranslate="aquigenBioApp.productInventory.pricePerUnit">Price Per Unit</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lotNo">
            <span jhiTranslate="aquigenBioApp.productInventory.lotNo">Lot No</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="expiryDate">
            <span jhiTranslate="aquigenBioApp.productInventory.expiryDate">Expiry Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="freeField1">
            <span jhiTranslate="aquigenBioApp.productInventory.freeField1">Free Field 1</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="freeField2">
            <span jhiTranslate="aquigenBioApp.productInventory.freeField2">Free Field 2</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="freeField3">
            <span jhiTranslate="aquigenBioApp.productInventory.freeField3">Free Field 3</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="freeField4">
            <span jhiTranslate="aquigenBioApp.productInventory.freeField4">Free Field 4</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModified">
            <span jhiTranslate="aquigenBioApp.productInventory.lastModified">Last Modified</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModifiedBy">
            <span jhiTranslate="aquigenBioApp.productInventory.lastModifiedBy">Last Modified By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="isDeleted">
            <span jhiTranslate="aquigenBioApp.productInventory.isDeleted">Is Deleted</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="isActive">
            <span jhiTranslate="aquigenBioApp.productInventory.isActive">Is Active</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let productInventory of productInventories; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/product-inventory', productInventory.id, 'view']">{{ productInventory.id }}</a>
          </td>
          <td>{{ productInventory.inwardOutwardDate | formatMediumDatetime }}</td>
          <td>{{ productInventory.inwardQty }}</td>
          <td>{{ productInventory.outwardQty }}</td>
          <td>{{ productInventory.totalQuanity }}</td>
          <td>{{ productInventory.pricePerUnit }}</td>
          <td>{{ productInventory.lotNo }}</td>
          <td>{{ productInventory.expiryDate | formatMediumDatetime }}</td>
          <td>{{ productInventory.freeField1 }}</td>
          <td>{{ productInventory.freeField2 }}</td>
          <td>{{ productInventory.freeField3 }}</td>
          <td>{{ productInventory.freeField4 }}</td>
          <td>{{ productInventory.lastModified | formatMediumDatetime }}</td>
          <td>{{ productInventory.lastModifiedBy }}</td>
          <td>{{ productInventory.isDeleted }}</td>
          <td>{{ productInventory.isActive }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/product-inventory', productInventory.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/product-inventory', productInventory.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(productInventory)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="productInventories && productInventories.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
