<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="product">
      <h2 data-cy="productDetailsHeading"><span jhiTranslate="aquigenBioApp.product.detail.title">Product</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ product.id }}</span>
        </dd>
        <dt><span jhiTranslate="aquigenBioApp.product.shortName">Short Name</span></dt>
        <dd>
          <span>{{ product.shortName }}</span>
        </dd>
        <dt><span jhiTranslate="aquigenBioApp.product.chemicalFormula">Chemical Formula</span></dt>
        <dd>
          <span>{{ product.chemicalFormula }}</span>
        </dd>
        <dt><span jhiTranslate="aquigenBioApp.product.hsnNo">Hsn No</span></dt>
        <dd>
          <span>{{ product.hsnNo }}</span>
        </dd>
        <dt><span jhiTranslate="aquigenBioApp.product.materialImage">Material Image</span></dt>
        <dd>
          <span>{{ product.materialImage }}</span>
        </dd>
        <dt><span jhiTranslate="aquigenBioApp.product.isDeleted">Is Deleted</span></dt>
        <dd>
          <span>{{ product.isDeleted }}</span>
        </dd>
        <dt><span jhiTranslate="aquigenBioApp.product.isActive">Is Active</span></dt>
        <dd>
          <span>{{ product.isActive }}</span>
        </dd>
        <dt><span jhiTranslate="aquigenBioApp.product.productName">Product Name</span></dt>
        <dd>
          <span>{{ product.productName }}</span>
        </dd>
        <dt><span jhiTranslate="aquigenBioApp.product.alertUnits">Alert Units</span></dt>
        <dd>
          <span>{{ product.alertUnits }}</span>
        </dd>
        <dt><span jhiTranslate="aquigenBioApp.product.casNumber">Cas Number</span></dt>
        <dd>
          <span>{{ product.casNumber }}</span>
        </dd>
        <dt><span jhiTranslate="aquigenBioApp.product.catlogNumber">Catlog Number</span></dt>
        <dd>
          <span>{{ product.catlogNumber }}</span>
        </dd>
        <dt><span jhiTranslate="aquigenBioApp.product.molecularWt">Molecular Wt</span></dt>
        <dd>
          <span>{{ product.molecularWt }}</span>
        </dd>
        <dt><span jhiTranslate="aquigenBioApp.product.molecularFormula">Molecular Formula</span></dt>
        <dd>
          <span>{{ product.molecularFormula }}</span>
        </dd>
        <dt><span jhiTranslate="aquigenBioApp.product.chemicalName">Chemical Name</span></dt>
        <dd>
          <span>{{ product.chemicalName }}</span>
        </dd>
        <dt><span jhiTranslate="aquigenBioApp.product.structureImg">Structure Img</span></dt>
        <dd>
          <span>{{ product.structureImg }}</span>
        </dd>
        <dt><span jhiTranslate="aquigenBioApp.product.description">Description</span></dt>
        <dd>
          <span>{{ product.description }}</span>
        </dd>
        <dt><span jhiTranslate="aquigenBioApp.product.qrCode">Qr Code</span></dt>
        <dd>
          <span>{{ product.qrCode }}</span>
        </dd>
        <dt><span jhiTranslate="aquigenBioApp.product.barCode">Bar Code</span></dt>
        <dd>
          <span>{{ product.barCode }}</span>
        </dd>
        <dt><span jhiTranslate="aquigenBioApp.product.gstPercentage">Gst Percentage</span></dt>
        <dd>
          <span>{{ product.gstPercentage }}</span>
        </dd>
        <dt><span jhiTranslate="aquigenBioApp.product.productType">Product Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'aquigenBioApp.ProductType.' + product.productType }}">{{ product.productType }}</span>
        </dd>
        <dt><span jhiTranslate="aquigenBioApp.product.lastModified">Last Modified</span></dt>
        <dd>
          <span>{{ product.lastModified | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="aquigenBioApp.product.lastModifiedBy">Last Modified By</span></dt>
        <dd>
          <span>{{ product.lastModifiedBy }}</span>
        </dd>
        <dt><span jhiTranslate="aquigenBioApp.product.freeField1">Free Field 1</span></dt>
        <dd>
          <span>{{ product.freeField1 }}</span>
        </dd>
        <dt><span jhiTranslate="aquigenBioApp.product.freeField2">Free Field 2</span></dt>
        <dd>
          <span>{{ product.freeField2 }}</span>
        </dd>
        <dt><span jhiTranslate="aquigenBioApp.product.freeField3">Free Field 3</span></dt>
        <dd>
          <span>{{ product.freeField3 }}</span>
        </dd>
        <dt><span jhiTranslate="aquigenBioApp.product.freeField4">Free Field 4</span></dt>
        <dd>
          <span>{{ product.freeField4 }}</span>
        </dd>
        <dt><span jhiTranslate="aquigenBioApp.product.categories">Categories</span></dt>
        <dd>
          <div *ngIf="product.categories">
            <a [routerLink]="['/categories', product.categories?.id, 'view']">{{ product.categories?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="aquigenBioApp.product.unit">Unit</span></dt>
        <dd>
          <div *ngIf="product.unit">
            <a [routerLink]="['/unit', product.unit?.id, 'view']">{{ product.unit?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="aquigenBioApp.product.rawMaterialOrder">Raw Material Order</span></dt>
        <dd>
          <span *ngFor="let rawMaterialOrder of product.rawMaterialOrders; let last = last">
            <a [routerLink]="['/raw-material-order', rawMaterialOrder?.id, 'view']">{{ rawMaterialOrder.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span jhiTranslate="aquigenBioApp.product.securityUser">Security User</span></dt>
        <dd>
          <div *ngIf="product.securityUser">
            <a [routerLink]="['/security-user', product.securityUser?.id, 'view']">{{ product.securityUser?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/product', product.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
