<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-product-quatation-heading"
        data-cy="ProductQuatationCreateUpdateHeading"
        jhiTranslate="aquigenBioApp.productQuatation.home.createOrEditLabel"
      >
        Create or edit a Product Quatation
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="aquigenBioApp.productQuatation.quatationdate" for="field_quatationdate"
            >Quatationdate</label
          >
          <div class="d-flex">
            <input
              id="field_quatationdate"
              data-cy="quatationdate"
              type="datetime-local"
              class="form-control"
              name="quatationdate"
              formControlName="quatationdate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="aquigenBioApp.productQuatation.totalAmt" for="field_totalAmt">Total Amt</label>
          <input type="number" class="form-control" name="totalAmt" id="field_totalAmt" data-cy="totalAmt" formControlName="totalAmt" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="aquigenBioApp.productQuatation.gst" for="field_gst">Gst</label>
          <input type="number" class="form-control" name="gst" id="field_gst" data-cy="gst" formControlName="gst" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="aquigenBioApp.productQuatation.discount" for="field_discount">Discount</label>
          <input type="number" class="form-control" name="discount" id="field_discount" data-cy="discount" formControlName="discount" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="aquigenBioApp.productQuatation.expectedDelivery" for="field_expectedDelivery"
            >Expected Delivery</label
          >
          <div class="d-flex">
            <input
              id="field_expectedDelivery"
              data-cy="expectedDelivery"
              type="datetime-local"
              class="form-control"
              name="expectedDelivery"
              formControlName="expectedDelivery"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="aquigenBioApp.productQuatation.deliveryAddress" for="field_deliveryAddress"
            >Delivery Address</label
          >
          <input
            type="text"
            class="form-control"
            name="deliveryAddress"
            id="field_deliveryAddress"
            data-cy="deliveryAddress"
            formControlName="deliveryAddress"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="aquigenBioApp.productQuatation.quoValidity" for="field_quoValidity">Quo Validity</label>
          <div class="d-flex">
            <input
              id="field_quoValidity"
              data-cy="quoValidity"
              type="datetime-local"
              class="form-control"
              name="quoValidity"
              formControlName="quoValidity"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="aquigenBioApp.productQuatation.clientName" for="field_clientName">Client Name</label>
          <input
            type="text"
            class="form-control"
            name="clientName"
            id="field_clientName"
            data-cy="clientName"
            formControlName="clientName"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="aquigenBioApp.productQuatation.clientMobile" for="field_clientMobile"
            >Client Mobile</label
          >
          <input
            type="text"
            class="form-control"
            name="clientMobile"
            id="field_clientMobile"
            data-cy="clientMobile"
            formControlName="clientMobile"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="aquigenBioApp.productQuatation.clientEmail" for="field_clientEmail">Client Email</label>
          <input
            type="text"
            class="form-control"
            name="clientEmail"
            id="field_clientEmail"
            data-cy="clientEmail"
            formControlName="clientEmail"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="aquigenBioApp.productQuatation.termsAndCondition" for="field_termsAndCondition"
            >Terms And Condition</label
          >
          <input
            type="text"
            class="form-control"
            name="termsAndCondition"
            id="field_termsAndCondition"
            data-cy="termsAndCondition"
            formControlName="termsAndCondition"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="aquigenBioApp.productQuatation.notes" for="field_notes">Notes</label>
          <input type="text" class="form-control" name="notes" id="field_notes" data-cy="notes" formControlName="notes" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="aquigenBioApp.productQuatation.freeField1" for="field_freeField1">Free Field 1</label>
          <input
            type="text"
            class="form-control"
            name="freeField1"
            id="field_freeField1"
            data-cy="freeField1"
            formControlName="freeField1"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="aquigenBioApp.productQuatation.freeField2" for="field_freeField2">Free Field 2</label>
          <input
            type="text"
            class="form-control"
            name="freeField2"
            id="field_freeField2"
            data-cy="freeField2"
            formControlName="freeField2"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="aquigenBioApp.productQuatation.freeField3" for="field_freeField3">Free Field 3</label>
          <input
            type="text"
            class="form-control"
            name="freeField3"
            id="field_freeField3"
            data-cy="freeField3"
            formControlName="freeField3"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="aquigenBioApp.productQuatation.freeField4" for="field_freeField4">Free Field 4</label>
          <input
            type="text"
            class="form-control"
            name="freeField4"
            id="field_freeField4"
            data-cy="freeField4"
            formControlName="freeField4"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="aquigenBioApp.productQuatation.lastModified" for="field_lastModified"
            >Last Modified</label
          >
          <div class="d-flex">
            <input
              id="field_lastModified"
              data-cy="lastModified"
              type="datetime-local"
              class="form-control"
              name="lastModified"
              formControlName="lastModified"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="aquigenBioApp.productQuatation.lastModifiedBy" for="field_lastModifiedBy"
            >Last Modified By</label
          >
          <input
            type="text"
            class="form-control"
            name="lastModifiedBy"
            id="field_lastModifiedBy"
            data-cy="lastModifiedBy"
            formControlName="lastModifiedBy"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="aquigenBioApp.productQuatation.securityUser" for="field_securityUser"
            >Security User</label
          >
          <select class="form-control" id="field_securityUser" data-cy="securityUser" name="securityUser" formControlName="securityUser">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                securityUserOption.id === editForm.get('securityUser')!.value?.id ? editForm.get('securityUser')!.value : securityUserOption
              "
              *ngFor="let securityUserOption of securityUsersCollection; trackBy: trackSecurityUserById"
            >
              {{ securityUserOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
