<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-goods-recived-heading"
        data-cy="GoodsRecivedCreateUpdateHeading"
        jhiTranslate="aquigenBioApp.goodsRecived.home.createOrEditLabel"
      >
        Create or edit a Goods Recived
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="aquigenBioApp.goodsRecived.grDate" for="field_grDate">Gr Date</label>
          <div class="d-flex">
            <input
              id="field_grDate"
              data-cy="grDate"
              type="datetime-local"
              class="form-control"
              name="grDate"
              formControlName="grDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="aquigenBioApp.goodsRecived.qtyOrdered" for="field_qtyOrdered">Qty Ordered</label>
          <input
            type="number"
            class="form-control"
            name="qtyOrdered"
            id="field_qtyOrdered"
            data-cy="qtyOrdered"
            formControlName="qtyOrdered"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="aquigenBioApp.goodsRecived.qtyRecieved" for="field_qtyRecieved">Qty Recieved</label>
          <input
            type="number"
            class="form-control"
            name="qtyRecieved"
            id="field_qtyRecieved"
            data-cy="qtyRecieved"
            formControlName="qtyRecieved"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="aquigenBioApp.goodsRecived.manufacturingDate" for="field_manufacturingDate"
            >Manufacturing Date</label
          >
          <div class="d-flex">
            <input
              id="field_manufacturingDate"
              data-cy="manufacturingDate"
              type="datetime-local"
              class="form-control"
              name="manufacturingDate"
              formControlName="manufacturingDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="aquigenBioApp.goodsRecived.expiryDate" for="field_expiryDate">Expiry Date</label>
          <div class="d-flex">
            <input
              id="field_expiryDate"
              data-cy="expiryDate"
              type="datetime-local"
              class="form-control"
              name="expiryDate"
              formControlName="expiryDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="aquigenBioApp.goodsRecived.lotNo" for="field_lotNo">Lot No</label>
          <input type="text" class="form-control" name="lotNo" id="field_lotNo" data-cy="lotNo" formControlName="lotNo" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="aquigenBioApp.goodsRecived.freeField1" for="field_freeField1">Free Field 1</label>
          <input
            type="text"
            class="form-control"
            name="freeField1"
            id="field_freeField1"
            data-cy="freeField1"
            formControlName="freeField1"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="aquigenBioApp.goodsRecived.freeField2" for="field_freeField2">Free Field 2</label>
          <input
            type="text"
            class="form-control"
            name="freeField2"
            id="field_freeField2"
            data-cy="freeField2"
            formControlName="freeField2"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="aquigenBioApp.goodsRecived.freeField3" for="field_freeField3">Free Field 3</label>
          <input
            type="text"
            class="form-control"
            name="freeField3"
            id="field_freeField3"
            data-cy="freeField3"
            formControlName="freeField3"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="aquigenBioApp.goodsRecived.purchaseOrder" for="field_purchaseOrder">Purchase Order</label>
          <select
            class="form-control"
            id="field_purchaseOrder"
            data-cy="purchaseOrder"
            name="purchaseOrder"
            formControlName="purchaseOrder"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                purchaseOrderOption.id === editForm.get('purchaseOrder')!.value?.id
                  ? editForm.get('purchaseOrder')!.value
                  : purchaseOrderOption
              "
              *ngFor="let purchaseOrderOption of purchaseOrdersSharedCollection; trackBy: trackPurchaseOrderById"
            >
              {{ purchaseOrderOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
