<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="tranferRecieved">
      <h2 data-cy="tranferRecievedDetailsHeading">
        <span jhiTranslate="aquigenBioApp.tranferRecieved.detail.title">Tranfer Recieved</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ tranferRecieved.id }}</span>
        </dd>
        <dt><span jhiTranslate="aquigenBioApp.tranferRecieved.transferDate">Transfer Date</span></dt>
        <dd>
          <span>{{ tranferRecieved.transferDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="aquigenBioApp.tranferRecieved.qtyTransfered">Qty Transfered</span></dt>
        <dd>
          <span>{{ tranferRecieved.qtyTransfered }}</span>
        </dd>
        <dt><span jhiTranslate="aquigenBioApp.tranferRecieved.qtyReceived">Qty Received</span></dt>
        <dd>
          <span>{{ tranferRecieved.qtyReceived }}</span>
        </dd>
        <dt><span jhiTranslate="aquigenBioApp.tranferRecieved.comment">Comment</span></dt>
        <dd>
          <span>{{ tranferRecieved.comment }}</span>
        </dd>
        <dt><span jhiTranslate="aquigenBioApp.tranferRecieved.freeField1">Free Field 1</span></dt>
        <dd>
          <span>{{ tranferRecieved.freeField1 }}</span>
        </dd>
        <dt><span jhiTranslate="aquigenBioApp.tranferRecieved.freeField2">Free Field 2</span></dt>
        <dd>
          <span>{{ tranferRecieved.freeField2 }}</span>
        </dd>
        <dt><span jhiTranslate="aquigenBioApp.tranferRecieved.lastModified">Last Modified</span></dt>
        <dd>
          <span>{{ tranferRecieved.lastModified | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="aquigenBioApp.tranferRecieved.lastModifiedBy">Last Modified By</span></dt>
        <dd>
          <span>{{ tranferRecieved.lastModifiedBy }}</span>
        </dd>
        <dt><span jhiTranslate="aquigenBioApp.tranferRecieved.isDeleted">Is Deleted</span></dt>
        <dd>
          <span>{{ tranferRecieved.isDeleted }}</span>
        </dd>
        <dt><span jhiTranslate="aquigenBioApp.tranferRecieved.isActive">Is Active</span></dt>
        <dd>
          <span>{{ tranferRecieved.isActive }}</span>
        </dd>
        <dt><span jhiTranslate="aquigenBioApp.tranferRecieved.transfer">Transfer</span></dt>
        <dd>
          <div *ngIf="tranferRecieved.transfer">
            <a [routerLink]="['/transfer', tranferRecieved.transfer?.id, 'view']">{{ tranferRecieved.transfer?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/tranfer-recieved', tranferRecieved.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
