<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-raw-material-order-heading"
        data-cy="RawMaterialOrderCreateUpdateHeading"
        jhiTranslate="aquigenBioApp.rawMaterialOrder.home.createOrEditLabel"
      >
        Create or edit a Raw Material Order
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="aquigenBioApp.rawMaterialOrder.pricePerUnit" for="field_pricePerUnit"
            >Price Per Unit</label
          >
          <input
            type="number"
            class="form-control"
            name="pricePerUnit"
            id="field_pricePerUnit"
            data-cy="pricePerUnit"
            formControlName="pricePerUnit"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="aquigenBioApp.rawMaterialOrder.quantityUnit" for="field_quantityUnit"
            >Quantity Unit</label
          >
          <input
            type="text"
            class="form-control"
            name="quantityUnit"
            id="field_quantityUnit"
            data-cy="quantityUnit"
            formControlName="quantityUnit"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="aquigenBioApp.rawMaterialOrder.quantity" for="field_quantity">Quantity</label>
          <input type="number" class="form-control" name="quantity" id="field_quantity" data-cy="quantity" formControlName="quantity" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="aquigenBioApp.rawMaterialOrder.deliveryDate" for="field_deliveryDate"
            >Delivery Date</label
          >
          <div class="d-flex">
            <input
              id="field_deliveryDate"
              data-cy="deliveryDate"
              type="datetime-local"
              class="form-control"
              name="deliveryDate"
              formControlName="deliveryDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="aquigenBioApp.rawMaterialOrder.quantityCheck" for="field_quantityCheck"
            >Quantity Check</label
          >
          <input
            type="text"
            class="form-control"
            name="quantityCheck"
            id="field_quantityCheck"
            data-cy="quantityCheck"
            formControlName="quantityCheck"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="aquigenBioApp.rawMaterialOrder.orderedOn" for="field_orderedOn">Ordered On</label>
          <div class="d-flex">
            <input
              id="field_orderedOn"
              data-cy="orderedOn"
              type="datetime-local"
              class="form-control"
              name="orderedOn"
              formControlName="orderedOn"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="aquigenBioApp.rawMaterialOrder.orderStatus" for="field_orderStatus">Order Status</label>
          <input
            type="text"
            class="form-control"
            name="orderStatus"
            id="field_orderStatus"
            data-cy="orderStatus"
            formControlName="orderStatus"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="aquigenBioApp.rawMaterialOrder.lastModified" for="field_lastModified"
            >Last Modified</label
          >
          <div class="d-flex">
            <input
              id="field_lastModified"
              data-cy="lastModified"
              type="datetime-local"
              class="form-control"
              name="lastModified"
              formControlName="lastModified"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="aquigenBioApp.rawMaterialOrder.lastModifiedBy" for="field_lastModifiedBy"
            >Last Modified By</label
          >
          <input
            type="text"
            class="form-control"
            name="lastModifiedBy"
            id="field_lastModifiedBy"
            data-cy="lastModifiedBy"
            formControlName="lastModifiedBy"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="aquigenBioApp.rawMaterialOrder.freeField1" for="field_freeField1">Free Field 1</label>
          <input
            type="text"
            class="form-control"
            name="freeField1"
            id="field_freeField1"
            data-cy="freeField1"
            formControlName="freeField1"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="aquigenBioApp.rawMaterialOrder.freeField2" for="field_freeField2">Free Field 2</label>
          <input
            type="text"
            class="form-control"
            name="freeField2"
            id="field_freeField2"
            data-cy="freeField2"
            formControlName="freeField2"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="aquigenBioApp.rawMaterialOrder.freeField3" for="field_freeField3">Free Field 3</label>
          <input
            type="text"
            class="form-control"
            name="freeField3"
            id="field_freeField3"
            data-cy="freeField3"
            formControlName="freeField3"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="aquigenBioApp.rawMaterialOrder.freeField4" for="field_freeField4">Free Field 4</label>
          <input
            type="text"
            class="form-control"
            name="freeField4"
            id="field_freeField4"
            data-cy="freeField4"
            formControlName="freeField4"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
